:root {
  /*colors in rgb*/
  --clr-reaction: 255, 87, 87;
  --clr-memory: 255, 176, 31;
  --clr-verbal: 0, 189, 145;
  --clr-visual: 17, 37, 212;

  --clr-result-bg-gradient-upper: 120, 87, 255;
  --clr-result-bg-gradient-lower: 46, 43, 233;

  --clr-result-circle-gradient-upper: rgba(78, 33, 202, 1);
  --clr-result-circle-gradient-lower: rgba(36, 33, 202, 0);

  --clr-white: 255, 255, 255;
  --clr-result-accent: 235, 241, 255;
  --clr-result-main: 200, 199, 255;
  --clr-continue-bg: 48, 59, 90;
}



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Results Section*/


body {
  margin: 0;
  width: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgb(var(--clr-white));
  font-size: 1.125rem;
}

.results-div {
  background: linear-gradient(rgb(var(--clr-result-bg-gradient-upper)), rgb(var(--clr-result-bg-gradient-lower)));
  border-radius: 0 0 2rem 2rem;
  color: rgb(var(--clr-result-main));
}

.results-div-container {
  margin: 2rem;
  width: 70%;
}

.results-numbers-div {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(var(--clr-result-circle-gradient-upper), var(--clr-result-circle-gradient-lower));
  margin: 1.5rem 0;
}

.results-numbers-div p {
  font-size: 1rem;
  text-align: center;
}

.result {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(var(--clr-result-accent));
}

.rating {
  color: rgb(var(--clr-result-accent));
  font-size: 1.5rem;
}

.results-description {
  text-align: center;
  font-size: 1rem;
}

/*Summary Section */

.summary-div {
  width: 100%;
}

.summary-div-container {
  width: 82%;
  padding: 2rem;
}

.summary-heading {
  text-align: left;
  width: 100%;
  font-weight: 700;
  margin-bottom: .5rem;
  color: rgb(var(--clr-continue-bg));
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: .6rem;
  width: 100%;
}

.summary-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding: 0 1rem;
}

li p {
  padding: 0 1rem;
  color: rgba(var(--clr-continue-bg), 50%);
}

.category-rating {
  color: rgb(var(--clr-continue-bg));
  padding: .25rem;
}

.reaction {
  background-color: rgba(var(--clr-reaction), 10%);
}

.reaction .category-title {
  color: rgb(var(--clr-reaction));
}

.memory {
  background-color: rgba(var(--clr-memory), 10%);
}

.memory .category-title {
  color: rgb(var(--clr-memory));
}

.verbal {
  background-color: rgba(var(--clr-verbal), 10%);
}

.verbal .category-title {
  color: rgb(var(--clr-verbal));
}

.visual {
  background-color: rgba(var(--clr-visual), 10%);
}

.visual .category-title {
  color: rgb(var(--clr-visual));
}
